#input-mission #input-mission-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input-mission #input-mission-form p {
    font-size: 18px;
}
#input-mission #input-mission-form input {
    text-align: center;
    font-size: 18px;

}
#ex1{
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-image: linear-gradient(140deg, #ffffff 0%, #a476dd 50%, #9b50eb 75%);
}

#showtoggle{
    display: flex;
    flex-direction: row-reverse;
}
#showtoggleW {
    display: none;
}
#showtoggle input {
    width: 50%;
}
#input-mission button {
    margin-block: 25px;
}

#tableHolder td {
    font-size: 18px;
}

.flex {
    display: flex;
    justify-content: center;
}

#SolDBHolder {
    display: none;
    text-align: center;
    position: absolute;
    width: 70vw;
    left: 15vw;
    top: 10vh;
    background-color: gainsboro;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    padding: 25px;
    border-radius: 16px;
    background-image: linear-gradient(1770deg, #d9cde5 0%, #cec3dd 50%, #cfc1dd 75%);
    border: 1px black solid;
}

#timeStartInputWraper {
    display: none;
    position: absolute;
    padding: 25px;
    width: 20vw;
    left: 40vw;
    top: 20vh;
    font-size: 18px;
    background-color: beige;
    border-radius: 15px;
    text-align: center;
}
#timeStartInputWraper-ph * {
    margin-block: 15px;
}